html,body{
  margin:0;
  padding:0;
  border-size:border-box;
}

.panels{
  min-height:100vh;
  overflow:hidden;
  display:flex;
} 

.panel{
  font-size:35px;
  color:#fff;
  background-size:cover;
  background-position:center;
  flex:1;
  transition:0.7s cubic-bezier(0.61,-0.19,0.7,-0.11);
  justify-content:center;
  align-items:center;
  display:flex;
  flex-direction:column;
  text-align:center;
}

.panel > *{
  margin:0;
  width:100%;
  flex: 1 0 auto;
  display:flex;
  align-items:center;
  justify-content:center;
}
/* 
.panel > *:first-child{
  transform:translateY(-100%);
}
/*  */ 
/* .panel > *:last-child{
  transform:translateY(100%);
  transition:1.4s ease;
} */
/* 
.panel.opne-active > *:first-child{
  transform:translateY(0%);
  transition:1.4s ease;
}


.panel.opne-active > *:last-child{
  transform:translateY(0%);
} */

.panel.open{
  flex:4;
  font-size:50px;
  transition:1s ease;
}


.panel_1{
  background-color:lightpink;
}

.panel_2{
  background-color:yellow;

}

.panel_3{
  background-color:green;
}

.panel_4{
  background-color:skyblue;
}

.panel_5{
  background-color:lightgreen;
}